table,tr{
    border: 1px solid silver;
    text-align: center;
}
th {
    background: silver;
}

.btn-xs{
    padding: 5px;
    margin: 10px 0;
    line-height: 8px;
    font-size:10px;
    font-weight: bold;
}
#inputQuantity{
    max-width: 50px;
}
.container{
    min-height: calc(100vh - 206px);
    margin:40px auto;
    
  
}