<div class="container" >
 <table *ngIf="items.length>0" class="col-md-8 offset-md-2 mb-3">
   <tr>
     <th>#</th>
     <th class="text-left">Ingridient</th>
     <th>Quantity</th>
     <th>Cancel</th>
   </tr>
   <tr *ngFor="let item of items; index as i">
     <td>{{i+1}}.</td>
     <td class="text-left">{{item.ingridient}}</td>
     <td> 
       <form (ngSubmit)="addQuantity()" #addQuantity>
        <input type="number"  id="inputQuantity" class="text-center"value={{item.quantity}} min="1"  step="1" 
              [(ngModel)]='item.quantity' name="inputQuantity" #inputQuantity='ngModel'
              [ngModelOptions]="{ updateOn:'blur' }">
      </form>
      </td>
     <td><button class="btn btn-warning btn-xs" (click)="deleteIngr(item)">X</button></td>
   </tr>
 </table>
 <form (submit)="addIng(ingr.value)" class="col-md-8 offset-md-2 p-0">
    <div class="form-group">
      <label for="ingr">Add more ingredients to list:</label>
      <input type="text" id="ingr" placeholder="Enter ingredients" class="form-control" #ingr>
      <br>
      <button type="submit" class="btn btn-outline-success">Add to list</button>
    </div>

  </form>
</div>
